*{
	margin: 0;
	padding: 0;	
	font-size: 2vh;
	font-family: "Lato", sans-serif;
	color: white;
}

::-webkit-scrollbar{
	display: none;
}

#body{
	height:100%;
}

#contentwrapper{
	position: fixed;
	top:0;
	background: rgba(255,255,255,0.21);
	backdrop-filter: blur(4.5px);
	width: 100vw;
	height: 100vh;

	transition: all 1s ease;
	opacity: 1;
}

#contentwrapper.hidden{
	opacity: 0;
}

#contentwrapper nav{
	width: 80.01vw;
	margin-left: 10vw;
	margin-top: 2vh;
	height: 5vh;
	transition: all 1s ease;
}

#contentwrapper nav div{
	box-shadow: inset 0px 0px 0px 1px white;
	height: 5vh;
	line-height: 5vh;
	width: 10vw;
	text-align: center;
	vertical-align: middle;
	margin-right: 7.5vw;
	float: left;
	border-radius: 5%;
}

#contentwrapper nav div:last-child{
	margin-right: 0;
}

#contentwrapper nav div:hover{
	opacity: 1;
	transition: background-color 1s ease-out;
	background-color: white;
	color: black;
}

.navigation{
	transition: all 1s ease;
}

#mutelogo{
	position: fixed;
	top: 20vh;
	left: 0vw;
	display: block;
	height: 5vw;
	width: 5vw;
	opacity: 0;
	z-index: 2;
	fill: red;

}

#demutelogo{
	position: fixed;
	top: 20vh;
	left: 0vw;
	display: block;
	height: 5vw;
	width: 5vw;
	opacity: 0;
	z-index: 1;
	fill: red;
}

#dubbed{
	z-index: 1;
	font-size: 5vw;
	position: fixed;
	top: 20vh;
	left: -50vw;
	opacity: 1;
}

#entmutetext{
	z-index: 1;
	font-size: 5vh;
	position: fixed;
	top: 21vh;
	left: 5vw;
	opacity: 1;
	font-style: italic;
	width: 20vW;
}

#Impressum{
	background-color: dimgrey;
	height: 50vh;

}

#Impressum a {
	color: white;
}

#ytlink{
	position: fixed;
	left: 10vw;
	top: 85vh;
	height: 5vh;
	width: 10vw;
	line-height: 5vh;
	justify-content: center;
	z-index: 2;
	box-shadow: inset 0px 0px 0px 1px white;
	text-align: center;
	text-decoration: none;
	border-radius: 5%;
}

#ytlink:hover{
	opacity: 1;
	transition: opacity 0.5s ease;
	background-color: white;
	color: black;
}